@font-face {
  font-family: Fonti;
  src: url(lib/Exo/Exo-Regular.otf);
}
@font-face {
  font-family: "ignazio";
  src: url("lib/Ignazio/web/IgnazioText-Regular.woff2") format("woff2"),
       url("lib/Ignazio/web/IgnazioText-Regular.woff") format("woff");
}
@font-face {
  font-family: "nectomono";
  src: url("lib/NectoMono/web/Necto-Mono.woff2") format("woff2"),
       url("lib/NectoMono/web/Necto-Mono.woff") format("woff");
}
@font-face {
  font-family: "sneaky";
  src: url("lib/SneakyTimes/web/Sneaky-Times.woff2") format("woff2"),
       url("lib/SneakyTimes/web/Sneaky-Times.woff") format("woff");
}
html,body{
  font-family: ignazio,sans-serif;
  background-color: #fff;
  margin: 0;
  padding: 0;
  height: 100vh;
  /*display:flex;*/
  cursor: default;
  overflow: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  /*position: relative;*/
}
/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
    background: transparent; 
    width:0px;
    /*opacity:1;*/
    margin:0;
    padding:0;
    border:0;
}

canvas{
  /*cursor : none;*/
}
a{
  text-decoration: none;
  color: black;
}
.i{
  align-items:center;
}
.ia{
  align-items:center;
  /*display: none;*/
}
.ia:hover{

}
.kep{
  padding-left: 0;
  display:flex;
  justify-content:center;
  align-items:center;
  top: 15vh;
  /*right: 35vw;*/
  position: relative;
}
.fo{
  width: 40vw;
  height: auto;
  padding: auto;

}
.kozep_item{
  cursor:pointer;
  padding-right: 2vw;
}
.kozep{
  display:inline-flex;
  position: relative;
  margin: auto;
  padding: auto;
  top: 8vh;
  width: 100vw;
  /*top: 10vw;*/
  /*right: 45vw;*/
  z-index: 4;
  /*display:block;*/
  /*width: 100vw;*/
  justify-content:center;
  align-items:center;
  border-spacing: 10;
  border-collapse: collapse;
  text-align: center;
  vertical-align: center;
  text-transform: capitalize;
  /*background-color: rgba(255,255,255,0.2);*/
  text-transform: uppercase;
  /*padding-right: 5vw;*/
  /*grid-template-columns: auto auto auto;*/
/*  justify-content:center;
  align-items:center;
  height: 100vh;*/
  /*column-count: 2;*/

}
.im_i{
  display: grid;
  top: 15vh;
  position: fixed;
  /*background-color: grey;*/
  /*height: 40vh;*/
  overflow: visible;
  background-color: rgba(255,255,255,0.8);
}
.sound_i{
  display: grid;
  top: 15vh;
  position: fixed;
  /*background-color: grey;*/
  /*height: auto;*/
  overflow: visible;
  background-color: rgba(255,255,255,0.8);
}
.text_i{
  display: grid;
  top: 15vh;
  position: fixed;
  /*background-color: grey;*/
  /*height: 40vh;*/
  overflow: visible;
  background-color: rgba(255,255,255,0.8);
}

.img_fo{
    /*transition: transform 3s;*/
    cursor:pointer;

}
.tvvo:hover{
  color: blue;
}
#bsv {
/*  position: relative;
  top: 20vh;
  left: 55vw;*/
  padding-left: 2vw;
  color: blue;
  font-size: 1.5em;
}
#tpd {
/*  position: relative;
  top: 20vh;*/
  font-size: 1.5em;
  padding-left: 2vw;

  /*left: 59vw;*/
  color: blue;
}
.gombi{
  border-radius: 12px;
  background-color: grey;
  border: none;
  color: white;
  height: 4vh;
  width: auto;
}
.gombi:hover {
  background-color: #e7e7e7;
}

.kozep_item:hover{
    letter-spacing: .5em;
    -webkit-transition: letter-spacing .6s ease;
    transition: letter-spacing .6s ease;
    color: rgba(0,0,0,0.5);
    /*color: blue;*/
}
.kkoz{
  /*padding-left: 5vw;*/
  /*display:grid auto auto auto;*/
  /*justify-content:center;*/
  /*align-items:center;*/
  /*display: flex;*/
  /*position: relative;*/
  width: 90vw;


  /*overflow: auto;*/
}
.row2{

}
.allando{

}
.szeles{
  padding-right: 4vw;
}
.menusor{
  /*padding: auto;*/
  /*margin: auto;*/
  position: fixed;
  font-size: 1em;
  width:100vw;
  bottom:10vh;
  z-index: 4;
  display:inline;
  justify-content:center;
  align-items:center;
  border-spacing: 0;
  border-collapse: collapse;
  text-align: center;
  vertical-align: center;
  text-transform: capitalize;
  background-color: rgba(255,255,255,0.8);
  text-transform: uppercase;
}
.back{
  z-index: 1;
  position: absolute;
  font-size: 1em;
  width:2vw;
  top:1vh;
  left: 2vw;
  z-index: 4;
  display:inline;
  justify-content:center;
  align-items:center;
  border-spacing: 0;
  border-collapse: collapse;
/*  text-align: center;
  vertical-align: center;*/
  text-transform: capitalize;
  /*background-color: rgba(255,255,255,0.8);*/
  text-transform: uppercase;
}
#notes{
  z-index: 1;
  position: absolute;
  font-size: 1em;
  width:12vw;
  top:3vh;
  left: 2vw;
  cursor: pointer;
  display: block;
}
 .row:after {
    content: "";
    display: table;
    clear: both;
  }
.padi{
  padding-left: 2vw;
}

.vizsz{
  display:flex;
  /*position: fixed;*/
  /*margin: auto;*/
  /*padding: auto;*/
  /*top: 10vh;*/
  /*width: 100vw;*/
  /*top: 10vw;*/
  /*right: 45vw;*/
  z-index: 4;
  /*display:block;*/
  /*width: 100vw;*/
  justify-content:center;
  align-items:center;
}
#eng{
  /*mouse: pointer;*/
  z-index: 5;

  padding-top: 3vh;

  position: absolute;
  margin-left: 4vw;
  /*color: red;*/
  cursor: pointer;
}
#eng:hover{
  color:blue;
}

#de{
  z-index: 5;
  position: absolute;
  padding-top: 3vh;

  margin-left:2vw;
  /*color: red;*/
  cursor: pointer;

}
#de:hover{
  color:blue;
}
.frogi{
  color: blue;
}
.frogi:hover{
  color: black;
}
.frogkep{
  width: 10vw;
}
.compactSound {
  color: grey;
}
.privacyPolicy{
  display: none;
}
.kepelem {
  width:10vw;
  height: auto;
  /*height:60vh;*/
  cursor: pointer;
  /*padding-left: 40vw;*/
  /*padding: auto;*/
  padding-bottom: 2vh;
}
.szamsor{
  padding-left: 2vw;
  width: 5vw;
  font-size: 20px;
}
.szamsor:hover{
  color: blue;
  text-shadow:1px 1px 5px black;
  /*font-size: 25px;*/
}

.elso{
  position: relative;
  display: flex;
}
.tablater{
  padding-top: 25vh;
  display:flex;
  justify-content:center;
  align-items:center;
}
.leirat{
  /*position: absolute;*/
  /*padding-left: 4vw;*/
  z-index: 3;
  background-color: rgba(255,255,255,0.8);
  color: black;
  /*background-color:rgba(156, 153, 153, .1) ;*/
  /*opacity: 0.1;*/
  margin-left:2vw;
  /*overflow: scroll;*/
  letter-spacing: 1px;
  text-align: justify;
  text-justify: inter-word;
  padding-top: 25vh;
  padding-right: 20px;
  width: 60vw;
  /*height: 30vh;*/
  font-size: 15px;

  /*background-color: black;*/
  /*color: red;*/
}
#youtube-icon{
  width: 6vw;
  height: auto;
}
.cvkoz{
/*padding-left: 4vw;*/
  color: black;
  /*background-color:rgba(156, 153, 153, .1) ;*/
  /*opacity: 0.1;*/
  /*padding-left:2vw;*/
  /*overflow: scroll;*/
  /*float: left;*/
  /*z-index: 6;*/
  top: 7vh;
  position: relative;
  cursor: default;
  letter-spacing: 1px;
  text-align: justify;
  text-justify: inter-word;
  /*display: flex;*/
  /*padding-top: 0;*/
  /*padding-right: 20px;*/
  width: 100vw;
  height: auto;
  overflow: visible;
  padding: 5vw;
  /*height: 30vh;*/
  /*overflow: scroll;*/
  font-size: 15px;

}
i{
  color: grey;
}
.zener{
  color: grey;
}
.ter{
  /*padding: auto;*/
  /*padding: 5vw;*/
  /*display: grid auto auto auto;*/
  /*justify-content:center;*/
  /*align-items:center;*/
}
.cva{
  color: blue;
}
.cva:hover{
  color: black;
}
.cvkep{
  padding-left: 2vw;
  top: 5vh;
  width: 30vw;
  height: auto;
}
h2{
  padding-top: 8vh;
  padding-left: 2vw;

}
#logohaz{
  width: 100vw; 
  padding: auto;

}
#logo{
  position: fixed;
  bottom:0;
  left: 0;
  z-index: 3;
  width: 4vw;
}
.kozlent {
  display:inline;
  font-size: 0.8em;
  position: fixed;
  top: 0;
  /*padding: auto;*/
  justify-content:center;
  /*align-items:flex-end;*/
  margin-right: auto;
  margin-left: auto;
  /*bottom: 0;*/
  /*right: 0;*/
  /*bottom: 0;*/
  /*height: 3vh;*/
  z-index: 3;
}
.kozlent:hover{
  color:blue;
  font-size: 1em;
}
/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 6;
  padding-top: 100px;
  left: 0;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: rgba(0,0,0,0.1);
  /*background-color: black;*/
}

/* Modal Content */
.modal-content {
  position: absolute;
  margin: auto;
  padding: 0;
  width: 100vw;
  height: 80vh;
  display: flex;
  justify-content:center;
  align-items:center;
  /*max-width: 1200px;*/
}
.kozepmodal{
  display: flex;
  justify-content:center;
  align-items:center;
  width: 100vw;
}

/* The Close Button */
.close {
  color: blue;
  z-index: 6;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: rgba(255,255,255,0.4);
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
  /*width: 100vw;*/
  padding-bottom: 1vh;
}

.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev{
  cursor: pointer;
  position: absolute;
  top: 40vh;
  left: 1vw;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: blue;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 1vw;
  cursor: pointer;
  position: absolute;
  top: 40vh;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: blue;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(255,255,255,0.4);
}

/* Number text (1/3 etc) */
.numbertext {
  /*display: flex;*/
  color: #000;
  font-size: 1.17em;
  /*padding: 8px 12px;*/
  position: fixed;
  top: 21vh;
  left: 2vw;
  /*padding-left: 2vw;*/
  /*padding-left: -10vw;*/
  /*bottom: -6vh;*/
  width: 4vw;
}
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

.kepelem.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
  .score:hover{
      /*opacity: 0.8;*/
          /*position: relative;*/
      /*animation:nagyul 6s;*/
    

    }

    @keyframes nagyul {
        /* You could think of as "step 1" */
        0% {
          /*transform: translate(20%, 70%);*/
        }
        /* You could think of as "step 2" */
        80% {
          transform:scale(1.3);
         
        }
      }
   @media only screen and (max-width: 912px) and (max-height: 1368px){
      
      body{
        height: 200vh;
        overflow: scroll;
      }
      #eng{
        top: 3vh;
        left: 1vw;
        height: 1vh;
      }
      #de{
        top: 6vh;
        left: 3vw;
        height: 1vh;
        
      }
    }   
    @media only screen and (max-width: 820px) and (max-height: 1180px){
      
      body{
        height: 200vh;
        overflow: scroll;
      }
      #eng{
        top: 3vh;
        left: 1vw;
        height: 1vh;
      }
      #de{
        top: 6vh;
        left: 3vw;
        height: 1vh;

      }
    }  
    @media only screen and (max-width: 414px) {
      
      body{
        height: 200vh;
        overflow: scroll;
      }
      #eng{
        font-size: 10px;
        top: 3vh;
        left: 1vw;
      }
      #de{
        font-size: 10px;

        top: 5vh;
        left: 3vw;
        /*left: 4vw;*/
      }
      .score_t, h2{
        font-size: 10px;
      }
      iframe{
        width: 40vw;
        height: auto;
      }
      .cvkoz{
        width: 100vw;
      }
      .angol{
        width: 40vw;
      /*  height: auto;
        overflow: auto;*/
        font-size: 8px;
      }
      .nemet{
        width: 40vw;
        font-size: 8px;
      }
    }
    @media only screen and (max-width: 600px) {
      .leirat {
        /*width: 80vw;*/
      font-size: 12px;

        width: 80vw;
        height: auto;
        word-wrap: auto;
        background-color: white;
      }

      .menusor{
        /*display: inline-flex;*/
        /*width: 100vw;*/
        /*position: absolute;*/
        /*top: 80vh;*/
      }
      html{


      /*background-size: 70px 70px; */
      }
      img{
            /*background-image: url("");*/

      

      }
    }